.add-todo-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-todo {
  border: 1px solid #7208b9;
  outline: none;
  padding: 5px 10px;
  width: 300px;
  height: 30px;
  font-size: 15px;
  margin: 10px 0;
  color: #1b1633;
  background: transparent;
  border-radius: 0 1.5rem 1.5rem 0;

}
.input-todo:focus,.add-todo-btn:focus {
  outline: 0;
  box-shadow: 1px 1px 10px .5px #7208b9; 
}
.add-todo-btn{
  height: 42px;
  width: 70px;
  border-radius:  1.5rem 0 0 1.5rem ;
  border: none;
  color: rgb(227, 196, 241);
  background: linear-gradient(to right ,#9a87ee,#7208b9);
}
.toastiStyle{
  color: red;
}