@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
body{
  font-family: 'Dosis', serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right ,
  #654ea3,
  #eaafc8);
}
.header-txt{
  font-family: 'Dosis', serif;
  font-size: 40px;
  word-spacing: 10px;
  font-weight: 400;
  color: rgb(42, 29, 65);
  text-align: center;
  margin: 3rem;
}
.pellMell-img{
  width: 23vw;
  height: 50vh;
  position: absolute;
  top: 45vh;
  left: 70vw;
  transform: rotate(15deg);
  opacity: .6;
}
.citty-img{
  width: 30vw;
  height: 70vh;
  transform: rotate(-5deg);
  position: absolute;
  right: 67vw;
  top: 8vh;
  opacity: .4;

}
